{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'site.css' %}">
</head>
<body>
    <div class="content">
        <nav> 
            <p class="body_title">Smart Finder</p>
        </nav>
        <p class="site_description">Данный ресурс переводит текст с изображений, выберите способ загрузки изображения и пользуйтесь!</p>
        <img class="downloaded_img" src="{% static 'images/load_img.png' %}">
        <p class="translate_text">Язык перевода</p>
        <select class="language_selector">
            <option value="ru_RU">Русский</option>
        </select>
            {% csrf_token %}
            <input type="file" class="file_selector">
        <button class="send_button" type="button">Перевести текст</button>
        <textarea class="result">Здесь будет результат перевода</textarea>
        <img class="load_image">
        <footer>Михайлов Андрей</footer>
        <script src="{% static 'index.js' %}"></script>
    </div>
</body>
</html>
